
body {
    margin: 0;
    background: #70c5ce;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    background: url('background.png') no-repeat center;
    background-size: cover;
    display: block;
}
